.page-title {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin: 0 10px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

.column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

.tasks-container {
    flex: 1;
    margin: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.tasks-container.is-dragging-over {
    background: #f0f4ff;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    user-select: none;
    margin: 0 0 8px 0;
    padding: 8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-item.is-dragging {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.task-name {
    font-weight: bold;
}

.task-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task-info {
    margin-top: 4px;
    font-size: 0.8em;
    color: #666;
}

.info-button,
.task-trash-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #888;
}
  
.task-trash-button:hover {
    color: red;
}

.info-button:hover {
    color: #007bff;
}

.add-task-button {
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #0056b3;
}

.fixed-trash-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #888;
    z-index: 999;
}

.fixed-trash-icon:hover {
    color: red;
}