.page-title {
    font-family: "Rowdies", serif;
    position: fixed;
    color: white;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    font-weight: 100;
    text-shadow:
    0 0 1px   #fff,
    0 0 1px  #fff,
    0 0 1px  #fff,
    0 0 25px  #ffe98f;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 145px;
    padding-bottom: 120px;
    box-sizing: border-box;
    background: url('../../Static/Backgrounds/AppBackground2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin: 0 20px;
    background: #1d1d1d;
    border: 2px solid #ffdf95;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgb(255, 252, 206);
    padding-top: 15px;
    padding-bottom: 15px;
}

.column-header {
    display: flex;
    font-family: "Rowdies", serif;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 1rem;
    color: white;
    text-shadow:
    0 0 0.5px   #fff,
    0 0 0.5px  #fff,
    0 0 0.5px  #fff,
    0 0 5px  #ffe98f;
}

.todo-header .add-task-button {
    position: absolute;
    right: 0.5rem;
}
  

.tasks-container {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
}

.tasks-container.is-dragging-over {
    background: #2f2f2f;
}

.task-content {
    display: flex;
    font-family: "Rowdies", serif;
    color: white;
    flex-direction: column;
    margin-left: 5px;
    gap: 4px;
}

.task-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    user-select: none;
    margin: 0 0 8px 0;
    padding: 8px;
    background: #333333;
    border: 1px solid #ffdf95;
    box-shadow: 0px 0px 5px #a89463;
    border-radius: 10px;
}

.task-item:hover {
    transform: scale(1.03);
    position: relative;
    z-index: 2;
}

.task-item.is-dragging {
    box-shadow: 0px 5px 10px #a89463;
    z-index: 999;
}

.task-name {
    font-weight: bold;
}

.task-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task-info {
    margin-top: 4px;
    font-size: 0.8em;
    color: #ffffff;
}

.info-button,
.task-trash-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #ffffff;
}
  
.task-trash-button:hover {
    color: red;
}

.info-button:hover {
    color: #007bff;
}

.add-task-button {
    background-color: #333333;
    border: 1px solid #ffdf95;
    box-shadow: 0px 0px 5px rgb(255, 252, 206);
    color: #fff;
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-task-button:hover {
    background-color: #494949;
    box-shadow: 0px 0px 7px rgb(255, 252, 206);
    transform: scale(1.1);
}

.fixed-trash-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #888;
    z-index: 999;
}

.fixed-trash-icon:hover {
    color: red;
}